{% extends "admin/master.html" %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3"><img src="{{ url_for('static', filename='images/owl-img-80x80.png') }}"> OWL Data Management</h1>
            <p class="lead"></p>
            <hr class="my-4">
            <p>This is an interactive data model view of the radio management system. To get started, click below to create or modify database records.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ url_for('dealer.index_view') }}" role="button"><i class="fa fa-info-circle"></i> Get Started</a>
            </p>
        </div>
        
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dealers</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Customers</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Radios</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div
{% endblock %}

